<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="circleapp.circlepackage.circle" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity android:name=".CircleWall.CircleInformation"
            android:screenOrientation="portrait"/>
        <activity android:name=".CircleWall.CircleWallBackgroundPicker"
            android:screenOrientation="portrait"/>
        <activity android:name=".Explore.ExploreCategoryFilter"
            android:screenOrientation="portrait"/>
        <activity android:name=".CircleWall.FullPageImageDisplay"
            android:screenOrientation="portrait"/>
        <activity android:name=".CircleWall.FullPageBroadcastCardView"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.MainApplication.CreateCircle.CreateCircleCategoryPicker"
            android:label="@string/title_activity_create_circle_category_picker"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <activity android:name=".CircleWall.CreatorPollAnswersView" />
        <activity
            android:name=".Explore.ExploreTabbedActivity"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="worfo.app.link"
                    android:scheme="https" />
                <data
                    android:host="circleapp.circlepackage.circle"
                    android:scheme="app" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="worfo.app.link"
                    android:scheme="http" />
                <data
                    android:host="circleapp.circlepackage.circle"
                    android:scheme="app" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Login.EntryPage.EntryPage" />
        <activity android:name=".ui.Login.OnBoarding.get_started_first_page" />
        <activity android:name=".ui.Login.OnBoarding.get_started_second_page" />
        <activity android:name=".ui.Login.OnBoarding.get_started_third_page" />
        <activity android:name=".ui.EditProfile.EditProfile"
            android:screenOrientation="portrait"/>
        <activity android:name=".PersonelDisplay.PersonelDisplay"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.Login.UserRegistration.GatherUserDetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.Login.OtpVerification.OtpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.Login.PhoneNumberEntry.PhoneLogin"
            android:screenOrientation="portrait"/>
        <activity android:name=".CircleWall.CircleWall"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainApplication.CreateCircle.CreateCircle" />
        <activity
            android:name=".Explore.CircleDisplayAdapter"
            tools:ignore="Instantiatable" />

        <service
            android:name=".Helpers.FireBaseInstanceIDService"
            android:directBootAware="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver
            android:name=".Helpers.FirebaseDataReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>