<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="circleapp.circlepackage.circle">


    <uses-sdk android:targetSdkVersion="29" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CircleWall.CreatorPollAnswersView"></activity>
        <activity android:name=".Explore.ExploreTabbedActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="worfo.app.link"
                    android:scheme="https" />
                <data android:scheme="app" android:host="circleapp.circlepackage.circle" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="worfo.app.link"
                    android:scheme="http" />

                <data android:scheme="app" android:host="circleapp.circlepackage.circle" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.EntryPage" />
        <activity android:name=".CircleWall.BroadcastComments" />
        <activity android:name=".EditProfile.EditProfile" />
        <activity android:name=".PersonelDisplay.PersonelDisplay" />
        <activity android:name=".Login.InterestTagPicker" android:noHistory="true"/>
        <activity android:name=".Login.GatherUserDetails" />
        <activity android:name=".Login.OtpActivity" android:noHistory="true"/>
        <activity android:name=".Login.PhoneLogin" android:noHistory="true"/>
        <activity android:name=".Notification.NotificationActivity" />
        <activity android:name=".CircleWall.CircleWall" />
        <activity android:name=".MainActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateCircle" />
        <activity android:name=".Explore.CircleDisplayAdapter"
            tools:ignore="Instantiatable" />
    </application>

</manifest>